table {
    width: 80%;
    margin: 30px auto;
    border-collapse: collapse;
}

th,td {
    padding: 10px;
    border: 1px solid #555;
}
td {
    background: #fff;
}

thead {
    background-color: #1c87c9;
    color: #fff
}